{% load static %}
{% load grouping %}
<nav class="flex px-4 text-black bg-white">
    <a href="/">
        <img class="w-20 h-20 filter hover:invert-[.5]" src="{% static 'img/logo/logo.svg' %}"/>
    </a>
    <div class="my-auto space-x-4 text-lg font-bold">
        <a class="hover:text-gray-600" href="#">Shows</a>
        <a class="hover:text-gray-600" href="#">Training</a>
        <a class="hover:text-gray-600" href="#">User</a>
        {% if request.user|has_group:"Manager" %}
        <a class="hidden md:inline hover:text-gray-600" href="#">Admin</a>
        <a class="hidden md:inline hover:text-gray-600" href="#">Office Hours</a>
        {% endif %}
    </div>
    <div class="my-auto ml-auto mr-0">
        <div class="relative hidden md:block">
            <a href="#"><span>Hey there,</span>
            {{request.user.first_name}}</a>
            <div class="absolute w-full h-0 mt-5 overflow-hidden transition-all duration-75 bg-white shadow focused-within-parent:h-16">
                <div class="flex flex-col py-5">
                    <a class="mx-auto" href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        </div>
        <div class="uk-hidden@m">
            <a href="#offcanvas-nav"  uk-icon="icon: menu" uk-toggle></a>
        </div>
    </div>
</nav>